.footer {
  .title {
    margin-top  : 10px !important;
    text-align  : center;
    font-family : 'Omnes';
    font-style  : normal;
    font-weight : normal;
  }
  p {
    font-size   : 12px;
    margin      : 0;
    text-align  : center;
    font-family : 'Omnes';
    font-style  : normal;
    font-weight : normal;
  }
  a {
    font-family : 'Omnes';
    font-style  : normal;
    font-weight : normal;
    text-align  : center;
    font-size   : 11px;
    padding     : 0;
  }
  th {
    text-align : center;
    padding    : 1% !important;
  }
}
