.gameSection {
  width  : 100% !important;
  height : 100% !important;
  .gameSectionImage {
    width : auto !important;
  }
  .title {
    position    : absolute;
    bottom      : 2% !important;
    left        : 37% !important;
    font-size   : 22px !important;
    font-family : 'Omnes';
    font-style  : italic;
    font-weight : 500;
    color       : rgb(100, 144, 249);
    @media only screen and (max-width: #{$global-breakpoint}) {
      bottom    : 18% !important;
      left      : 10% !important;
      font-size : 16px !important;
    }
    @media only screen and (max-width: 1440px) {
      bottom : -17% !important;
      left   : 36% !important;
    }
  }
  .paragraph {
    position    : absolute;
    bottom      : -11% !important;
    left        : 33% !important;
    right       : 0% !important;
    width       : 20% !important;
    text-align  : center;
    font-family : 'Omnes';
    font-style  : normal;
    font-weight : normal;
    @media only screen and (max-width: #{$global-breakpoint}) {
      bottom     : 0% !important;
      left       : 8% !important;
      text-align : left !important;
      right      : 0% !important;
      width      : 42% !important;
      font-size  : 11px !important;
    }
    @media only screen and (max-width: 320px) {
      bottom : -7% !important;
    }
    @media only screen and (max-width: 1440px) {
      bottom : -33% !important;
      left   : 32% !important;
    }
  }
}