.getPersonal {
  width  : 100%;
  height : 100%;
  .moreToComeImage {
    width : auto;
  }
  .title {
    position    : absolute;
    bottom      : -36% !important;
    left        : 52% !important;
    color       : rgb(245, 245, 245);
    font-family : 'Omnes';
    font-style  : italic;
    font-weight : 500;
    @media only screen and (max-width: #{$global-breakpoint}) {
      bottom    : -15% !important;
      left      : 55% !important;
      font-size : 16px;
    }
    @media only screen and (max-width: 1440px) {
      bottom : -62% !important;
      left   : 52% !important;
    }
  }
  .paragraph {
    position    : absolute;
    bottom      : -46% !important;
    left        : 47% !important;
    right       : 0%;
    width       : 19%;
    text-align  : center;
    color       : rgb(245, 245, 245);
    font-family : 'Omnes';
    font-style  : normal;
    font-weight : normal;
    a {
      color : rgb(245, 245, 245);
    }
    @media only screen and (max-width: #{$global-breakpoint}) {
      bottom     : -27% !important;
      left       : 46% !important;
      text-align : left;
      right      : 0%;
      width      : 47%;
      font-size  : 11px;
    }
    @media only screen and (max-width: 320px) {
      bottom : -31% !important;
    }
    @media only screen and (max-width: 1440px) {
      bottom : -74% !important;
      left   : 49% !important;
    }
  }
}