.headerContainer {
    width  : 100%;
    height : 100%;
  .content {
    .headerImage {
      width : auto;
    }
    .phoneImage {
      height   : 100%;
      position : absolute;
      top      : 30% !important;
      left     : 0 !important;
      z-index  : 1;
    }
  }
  .title {
    position    : absolute;
    top         : 21% !important;
    right       : 39% !important;
    color       : rgb(4, 191, 4);
    font-family : 'Honey Script';
    font-weight : 300;
    font-style  : italic;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size : 16px;
      top       : 18% !important;
      right     : 24% !important;
    }
    @media only screen and (max-width: 1440px) {
      top   : 24% !important;
      right : 37% !important;
    }
  }
  .paragraph {
    position    : absolute;
    top         : 28% !important;
    left        : 46% !important;
    right       : 2% !important;
    width       : 20%;
    text-align  : center;
    font-family : 'Omnes';
    font-style  : normal;
    font-weight : normal;
    @media only screen and (max-width: #{$global-breakpoint}) {
      top        : 23% !important;
      left       : 43% !important;
      width      : 48%;
      right      : 0% !important;
      font-size  : 11px;
      text-align : left;
    }
    @media only screen and (max-width: 1440px) {
      top  : 33% !important;
      left : 48% !important;
    }
  }
  .googlePlay {
    position : absolute;
    top      : 47.8% !important;
    right    : 43.7% !important;
    border   : 0 solid black;
    width    : 95px;
    height   : 31.5px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      top    : 40.3% !important;
      right  : 35% !important;
      width  : 50px;
      height : 19px;
    }
    @media only screen and (max-width: 1440px) {
      top   : 56.8% !important;
      right : 42.7% !important;
    }
  }
  .appStore {
    position : absolute;
    top      : 47.7% !important;
    right    : 37.1% !important;
    border   : 0 solid black;
    width    : 91px;
    height   : 31.5px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      top    : 40.3% !important;
      right  : 17% !important;
      width  : 50px;
      height : 19px;
    }
    @media only screen and (max-width: 1440px) {
      top   : 56.7% !important;
      right : 35.1% !important;
    }
  }
}