@media only screen and (max-width: #{$global-breakpoint}) {
  table.body .container {
    width: 100% !important;
  }
}
.locations {
  width  : 100%;
  height : 100%;
  .locationImage {
    width : auto;
  }
  .title {
    position    : absolute;
    top         : 70% !important;
    left        : 42% !important;
    font-size   : 22px;
    font-family : 'Omnes';
    font-style  : italic;
    font-weight : 500;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size : 14px;
      top       : 57% !important;
      left      : 18% !important;
    }
    @media only screen and (max-width: 1440px) {
      top  : 87% !important;
      left : 40% !important;
    }
  }
  .paragraph {
    position    : absolute;
    top         : 75% !important;
    left        : 41% !important;
    right       : 0% !important;
    width       : 17%;
    text-align  : center;
    font-family : 'Omnes';
    font-style  : normal;
    font-weight : normal;
    @media only screen and (max-width: #{$global-breakpoint}) {
      text-align : left;
      top        : 61% !important;
      left       : 29% !important;
      right      : 0% !important;
      width      : 43%;
      font-size  : 11px;
    }
    @media only screen and (max-width: 1440px) {
      top  : 91% !important;
      left : 41% !important;
    }
  }
}