@import 'settings';
@import 'foundation-emails';
@import 'template/template';
@import 'header';
@import 'locations';
@import 'getPersonal';
@import 'gameSection';
@import 'footer';

@font-face {
font-family: 'Honey Script';
src: url('./HoneyScript-Light.eot');
src: url('./HoneyScript-Light.eot?#iefix') format('embedded-opentype');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'Omnes';
src: url('./Omnes-Regular.eot');
src: url('./Omnes-Regular.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Omnes';
src: url('./OmnesMedium-Italic.eot');
src: url('./OmnesMedium-Italic.eot?#iefix') format('embedded-opentype');
font-weight: 500;
font-style: italic;
}
