<container class="footer">
    <row>
      <columns>
        <p class="title">Send email to</p>
      </columns>
    </row>
    <row>
      <columns>
        <a href="https://www.honeygrow.com/contact-us">Please Visit Us</a>
      </columns>
    </row>
    <row>
      <columns>
        <p>to share your thoughts with us.</p>
      </columns>
    </row>
    <row>
      <columns>
       <p>Copyright © 2017 honeyGrow All rights reserved.</p>
      </columns>
    </row>
</container>
